{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}


<title>Welcome to nginx!</title>
<style>
    body {
        padding-top: 4%;
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Hello From Arp</h1>
<p>Arp is a light framework for PHP developpers. </p>

<p>Use <a href="https://github.com/DurandSacha/Arp-MVC-PHP"> Arp </a>for small applications that don't need a big framework. Also use it for a readable and light architecture</p>

<p><em>Thank you ! </em></p>

{% endblock %}
